<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>page10-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{278,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{278,40}}</string>
                <key>sourceSize</key>
                <string>{280,50}</string>
            </dict>
            <key>page10-ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,192},{275,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{275,40}}</string>
                <key>sourceSize</key>
                <string>{275,50}</string>
            </dict>
            <key>page10-zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{269,40}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{269,40}}</string>
                <key>sourceSize</key>
                <string>{275,50}</string>
            </dict>
            <key>page11-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{278,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{278,40}}</string>
                <key>sourceSize</key>
                <string>{280,50}</string>
            </dict>
            <key>page11-ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{273,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{273,40}}</string>
                <key>sourceSize</key>
                <string>{275,50}</string>
            </dict>
            <key>page11-zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,253},{265,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{265,40}}</string>
                <key>sourceSize</key>
                <string>{275,50}</string>
            </dict>
            <key>page12-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,203},{267,54}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{267,54}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>page12-ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{234,54}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{234,54}}</string>
                <key>sourceSize</key>
                <string>{250,60}</string>
            </dict>
            <key>page12-zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,341},{232,54}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{232,54}}</string>
                <key>sourceSize</key>
                <string>{250,60}</string>
            </dict>
            <key>page13-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,234},{269,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{269,40}}</string>
                <key>sourceSize</key>
                <string>{275,50}</string>
            </dict>
            <key>page13-ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{284,40}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{284,40}}</string>
                <key>sourceSize</key>
                <string>{300,40}</string>
            </dict>
            <key>page13-zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{290,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{290,41}}</string>
                <key>sourceSize</key>
                <string>{320,75}</string>
            </dict>
            <key>page2-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{250,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,44}}</string>
                <key>sourceSize</key>
                <string>{250,44}</string>
            </dict>
            <key>page2-ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,334},{250,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,44}}</string>
                <key>sourceSize</key>
                <string>{250,44}</string>
            </dict>
            <key>page2-zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,295},{250,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,44}}</string>
                <key>sourceSize</key>
                <string>{250,44}</string>
            </dict>
            <key>page3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{250,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,46}}</string>
                <key>sourceSize</key>
                <string>{250,46}</string>
            </dict>
            <key>page4.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,276},{200,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,90}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>page5.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,478},{185,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,190}}</string>
                <key>sourceSize</key>
                <string>{185,190}</string>
            </dict>
            <key>page6-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,52},{282,99}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{282,99}}</string>
                <key>sourceSize</key>
                <string>{300,125}</string>
            </dict>
            <key>page6-ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{272,101}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{272,101}}</string>
                <key>sourceSize</key>
                <string>{300,125}</string>
            </dict>
            <key>page6-zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,91},{280,99}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{280,99}}</string>
                <key>sourceSize</key>
                <string>{300,125}</string>
            </dict>
            <key>page7-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,153},{276,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{276,48}}</string>
                <key>sourceSize</key>
                <string>{290,50}</string>
            </dict>
            <key>page7-ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,203},{270,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{270,48}}</string>
                <key>sourceSize</key>
                <string>{290,50}</string>
            </dict>
            <key>page7-zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{288,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{288,48}}</string>
                <key>sourceSize</key>
                <string>{290,50}</string>
            </dict>
            <key>page8-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,45},{285,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{285,44}}</string>
                <key>sourceSize</key>
                <string>{285,50}</string>
            </dict>
            <key>page8-ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{283,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{283,44}}</string>
                <key>sourceSize</key>
                <string>{285,50}</string>
            </dict>
            <key>page8-zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{301,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{301,44}}</string>
                <key>sourceSize</key>
                <string>{305,50}</string>
            </dict>
            <key>page9-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,276},{260,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{260,56}}</string>
                <key>sourceSize</key>
                <string>{260,60}</string>
            </dict>
            <key>page9-ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,380},{234,54}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{234,54}}</string>
                <key>sourceSize</key>
                <string>{250,60}</string>
            </dict>
            <key>page9-zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,341},{244,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{244,56}}</string>
                <key>sourceSize</key>
                <string>{250,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2128910de8735d97e6a6e8dbd71050b0$</string>
            <key>textureFileName</key>
            <string>tutorial.png</string>
        </dict>
    </dict>
</plist>
