<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{60,82}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{60,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,184},{74,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{74,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,96},{76,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{76,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>E-Mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,458},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>aHome.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,458},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>arrowL.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,256},{100,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>arrowR.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,294},{100,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bub.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,154},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>clear-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{300,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,120}}</string>
                <key>sourceSize</key>
                <string>{300,120}</string>
            </dict>
            <key>clear-ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,86},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,458},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cnDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,476},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,416},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>en.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,392},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>enDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,392},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,392},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>five-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,190},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>five-ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,144},{78,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{78,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ghostSprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,86},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,410},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,124},{168,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{168,86}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>infoTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,14},{234,48}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{234,48}}</string>
                <key>sourceSize</key>
                <string>{240,96}</string>
            </dict>
            <key>ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,392},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>jaDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,326},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>levelInfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,64},{226,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{226,36}}</string>
                <key>sourceSize</key>
                <string>{240,96}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{304,10}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{304,10}}</string>
                <key>sourceSize</key>
                <string>{320,20}</string>
            </dict>
            <key>mainMenuButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,146},{218,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{218,42}}</string>
                <key>sourceSize</key>
                <string>{240,96}</string>
            </dict>
            <key>mainMenuButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,102},{218,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{218,42}}</string>
                <key>sourceSize</key>
                <string>{240,96}</string>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,190},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>musicOffDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,14},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,326},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>musicOnDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,326},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>option.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,344},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,326},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>soundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,344},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>soundOffDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,272},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>soundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,260},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>soundOnDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,356},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>stage-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,150}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>stage-ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,124},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,392},{54,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{54,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,290},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weibo.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,224},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>element-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af6bdafb00ace20456f6b72ac1a8c3e4$</string>
            <key>textureFileName</key>
            <string>element-hd.png</string>
        </dict>
    </dict>
</plist>
