<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Achievements</key>
	<array>
		<dict>
			<key>EarnedDescription</key>
			<string></string>
			<key>ID</key>
			<string>com.clearfivestages.FirstWin</string>
			<key>Image</key>
			<string></string>
			<key>IsHidden</key>
			<false/>
			<key>Name</key>
			<string>com.clearfivestages.FirstWin</string>
			<key>PreEarnedDescription</key>
			<string></string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>EarnedDescription</key>
			<string></string>
			<key>ID</key>
			<string>com.clearfivestages.TheRookie</string>
			<key>Image</key>
			<string></string>
			<key>IsHidden</key>
			<false/>
			<key>Name</key>
			<string>com.clearfivestages.TheRookie</string>
			<key>PreEarnedDescription</key>
			<string></string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>EarnedDescription</key>
			<string></string>
			<key>ID</key>
			<string>com.clearfivestages.TheBeginner</string>
			<key>Image</key>
			<string></string>
			<key>IsHidden</key>
			<false/>
			<key>Name</key>
			<string>com.clearfivestages.TheBeginner</string>
			<key>PreEarnedDescription</key>
			<string></string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>EarnedDescription</key>
			<string></string>
			<key>ID</key>
			<string>com.clearfivestages.TheJunior</string>
			<key>Image</key>
			<string></string>
			<key>IsHidden</key>
			<false/>
			<key>Name</key>
			<string>com.clearfivestages.TheJunior</string>
			<key>PreEarnedDescription</key>
			<string></string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>EarnedDescription</key>
			<string></string>
			<key>ID</key>
			<string>com.clearfivestages.TheSenior</string>
			<key>Image</key>
			<string></string>
			<key>IsHidden</key>
			<false/>
			<key>Name</key>
			<string>com.clearfivestages.TheSenior</string>
			<key>PreEarnedDescription</key>
			<string></string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>EarnedDescription</key>
			<string></string>
			<key>ID</key>
			<string>com.clearfivestages.TheAllstar</string>
			<key>Image</key>
			<string></string>
			<key>IsHidden</key>
			<false/>
			<key>Name</key>
			<string>com.clearfivestages.TheAllstar</string>
			<key>PreEarnedDescription</key>
			<string></string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>EarnedDescription</key>
			<string></string>
			<key>ID</key>
			<string>com.clearfivestages.TheSuperstar</string>
			<key>Image</key>
			<string></string>
			<key>IsHidden</key>
			<false/>
			<key>Name</key>
			<string>com.clearfivestages.TheSuperstar</string>
			<key>PreEarnedDescription</key>
			<string></string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>EarnedDescription</key>
			<string></string>
			<key>ID</key>
			<string>com.clearfivestages.TheHalloffame</string>
			<key>Image</key>
			<string></string>
			<key>IsHidden</key>
			<false/>
			<key>Name</key>
			<string>com.clearfivestages.TheHalloffame</string>
			<key>PreEarnedDescription</key>
			<string></string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>EarnedDescription</key>
			<string></string>
			<key>ID</key>
			<string>com.clearfivestages.Thesaint</string>
			<key>Image</key>
			<string></string>
			<key>IsHidden</key>
			<false/>
			<key>Name</key>
			<string>com.clearfivestages.Thesaint</string>
			<key>PreEarnedDescription</key>
			<string></string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>EarnedDescription</key>
			<string></string>
			<key>ID</key>
			<string>com.clearfivestages.Theluckyguy</string>
			<key>Image</key>
			<string></string>
			<key>IsHidden</key>
			<false/>
			<key>Name</key>
			<string>com.clearfivestages.Theluckyguy</string>
			<key>PreEarnedDescription</key>
			<string></string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>EarnedDescription</key>
			<string></string>
			<key>ID</key>
			<string>com.clearfivestages.Theperfectguy</string>
			<key>Image</key>
			<string></string>
			<key>IsHidden</key>
			<false/>
			<key>Name</key>
			<string>com.clearfivestages.Theperfectguy</string>
			<key>PreEarnedDescription</key>
			<string></string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>EarnedDescription</key>
			<string></string>
			<key>ID</key>
			<string>com.clearfivestages.Thequickguy</string>
			<key>Image</key>
			<string></string>
			<key>IsHidden</key>
			<false/>
			<key>Name</key>
			<string>com.clearfivestages.Thequickguy</string>
			<key>PreEarnedDescription</key>
			<string></string>
			<key>Title</key>
			<string></string>
		</dict>
	</array>
	<key>Leaderboards</key>
	<array>
		<dict>
			<key>ID</key>
			<string>com.clearfivestages.NormalMode</string>
			<key>Name</key>
			<string>com.clearfivestages.NormalMode</string>
			<key>Order</key>
			<string>Ascending</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>com.clearfivestages.EasyMode</string>
			<key>Name</key>
			<string>com.clearfivestages.EasyMode</string>
			<key>Order</key>
			<string>Ascending</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>com.clearfivestages.HardMode</string>
			<key>Name</key>
			<string>com.clearfivestages.HardMode</string>
			<key>Order</key>
			<string>Ascending</string>
		</dict>
	</array>
</dict>
</plist>
