<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,394},{43,55}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{43,55}}</string>
                <key>sourceSize</key>
                <string>{85,57}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,513},{51,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{51,57}}</string>
                <key>sourceSize</key>
                <string>{85,57}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,439},{53,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{53,57}}</string>
                <key>sourceSize</key>
                <string>{85,57}</string>
            </dict>
            <key>CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,84},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{36,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>E-Mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,459},{32,24}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{32,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>En.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,337},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{34,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,84},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{28,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PauseLayer.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{370,108},{227,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,137}}</string>
                <key>sourceSize</key>
                <string>{227,137}</string>
            </dict>
            <key>aHome.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,566},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,52},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,54}</string>
            </dict>
            <key>bub.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,515},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,485},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,457},{56,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>gamecenterA.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,455},{56,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>gamecenterL.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,397},{56,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,337},{132,58}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,74},{132,58}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>go_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,110},{148,68}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,68},{148,68}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>go_Ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,260},{268,66}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,69},{268,66}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>inputLayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{284,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{284,192}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>menuBub.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,78},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>menuBubBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>menuBubD.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,52},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,608},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,566},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>openfeint.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,397},{58,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>soundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,431},{32,26}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{32,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,397},{34,32}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,515},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>title.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{384,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,36}}</string>
                <key>sourceSize</key>
                <string>{384,36}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,36}}</string>
                <key>sourceSize</key>
                <string>{384,36}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{259,60}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,73},{259,60}}</string>
                <key>sourceSize</key>
                <string>{283,200}</string>
            </dict>
            <key>win_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{227,60}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,77},{227,60}}</string>
                <key>sourceSize</key>
                <string>{283,200}</string>
            </dict>
            <key>win_Ja.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{275,58}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,78},{275,58}}</string>
                <key>sourceSize</key>
                <string>{283,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>element.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27010f28bb74cada5a0f782772d64221$</string>
            <key>textureFileName</key>
            <string>element.png</string>
        </dict>
    </dict>
</plist>
